body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

/* Headings */
h1, h2 {
  text-align: center;
  color: #333;
  font-weight: bold;
}

h1 {
  margin-bottom: 10px;
}

h2 {
  margin-top: 0;
}

/* Links */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

/* Button */
button, .btn {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover, .btn:hover {
  background-color: #0056b3;
}

/* Form styling */
form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 5px;
  font-weight: bold;
}

form input {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Navbar */
.navbar {
  background-color: #343a40;
  padding: 15px;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.navbar-item {
  margin: 0 20px;
}

.navbar-link {
  color: #f8f9fa;
  font-weight: bold;
  font-size: 1.2rem;
}

.navbar-link:hover {
  color: #007bff;
  text-decoration: underline;
}

/* Color List */
.color-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.color-list-item {
  width: 30%;
  padding: 20px;
  background-color: #fff;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.color-list-item:hover {
  transform: translateY(-5px);
}

.color-list-item a {
  text-transform: capitalize;
  font-weight: bold;
}

/* Color Details Page */
.color-details {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.color-details h1 {
  font-size: 4rem;
  margin-bottom: 10px;
}

.color-details p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}